
.courses .card{
    background-color: rgb(114, 49, 255);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 19, 142);
 }
  #circle{
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index:2;
    background-color: rgb(217, 207, 255);
    }
  .card-body > .btn{
    background-color: rgb(37, 0, 137);
    border: none;
  }
  .card-text{
    color: rgb(255, 255, 255);
  }
  
  .card-text{
    color: rgb(255, 255, 255);
  }
 