
 
/* @media screen and (min-width: 1087px) { */
.mynav{
  position: absolute;
  background-color: rgba(240, 248, 255, 0);
  z-index: 3;

}
.nav-link{
  
  color: rgb(107, 107, 255) !important;
}


.nav-item {
font-size: 16px;
margin-left: 100px;
font-family: 'Heebo', sans-serif;
}


.nav-item:last-child {
margin-right: 0;
}

/* } */

@media screen and (max-width: 1000px) {

  .nav-link{
  color: rgb(86, 86, 255) !important;
}


.nav-item {
font-size: 15px;
margin-left: 0px !important;
font-family: 'Heebo', sans-serif;
margin-top: 7px;
padding-left: 20px;
border: 1px solid;
border-radius: 10px;
background-color: rgba(255, 255, 255, 0.952);
}
.btn-no-border {
    border: none;
    /* Optional: To remove focus border as well */
    outline: none !important;
  }
}



.navbar-brand > span{
position: absolute;
font-family: 'Noto Serif', serif;
margin-top: 2px;

font-size: 20px;

color: rgb(0, 116, 217);
}

